body {
    font-family: 'Kalam', cursive;
    margin: 0;
    background-color: black;
    color: aliceblue;
}

p {
    margin: 0;
    color: inherit;
}

input, button {
    margin: 0;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    background-color: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

/* Header */
.header {
    font-family: 'Permanent Marker', cursive;
    padding: 20px 0;
    text-align: center;
    font-size: 80px;
}

/* Main */
.main {
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 100px;
}

/* inputs */
.inputs {
    padding: 20px 30px;
    min-width: 200px;
    border-radius: 10px;
    background-color: #202020;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.toggle-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.grid-range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

button {
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 10px 30px;
    width: 100%;
}

button, input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover, input[type='color']:hover {
    transform: scale(1.05);
}

button.active {
    background-color: aliceblue;
    color: #202020;
}

/* Container */
.container {
    min-width: 650px;
    min-height: 650px;
    background-color: white;
    border: 30px solid #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
    user-select: none;
}

.border-top-left {
    border-top: 1px solid rgb(156, 156, 156);
    border-left: 1px solid rgb(156, 156, 156);
}

.column {
    flex: 1;
    user-select: none;
}
/*  
.column:hover {
    background-color: black;
}  */

/* Input type range styling */
input[type='range'] {
    width: 100%;
    height: 2px;
    background: #404040;
    appearance: none;
    outline: none;
    border-radius: 2px;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: aliceblue;
}

#progressBar {
    width: 16%;
    height: 2px;
    background-color: aliceblue;
    border-radius: 2px;
    align-self: flex-start;
    margin-top: -22px;
}

/* Input type color styling */
input[type='color'] {
    width: 90px;
    height: 90px;
    padding: 0;
    appearance: none;
    /* background-color: aliceblue;
    border-radius: 50%; */
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}